* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

#screen {
    height: 100vh;
    position: relative;
}

#top {
    height: 15vh;
    background-color: #009688;
}

#bot {
    height: calc(100% - 15vh);
    background-color: #d6dbd6;
}

#app {
    width: 80%;
    height: 95%;
    position: absolute;
    top: 20px;
    left: 150px;
    display: flex;
}

#left , #right {
    height: 100%;
}

#left {
    width: 400px;
    
}

#right {
    flex-grow: 1;
    
}

#user-bar {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-right: 1px solid #d6d7d9;
}

#notifications-bar {
    background-color: #8edafc;
    display: flex;
    padding: 10px 15px;
}

#notifications-icon i {
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    color: #8edafc;
}

#notifications-text {
    font-size: 13px;
    align-self: center;
    margin-left: 10px;
}

#notifications-text a {
    color: #434242;
}

#search-bar {
    background-color: #fff;
    padding: 10px;
    position: relative;
}

#search-bar input {
    width: 100%;
    padding: 10px 45px;
}

#search-bar i {
    position: absolute;
    top: 23px;
    left: 25px;
    font-size: 15px;
    color: #a7a6a7;
}

#nav-chats {
    background-color: #fff;
    /* DEBUG */
    height: 460px;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

#nav-chats li {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
}

li:hover {
    background-color: #e9ebeb;
}

#chat {
    background-image: url(../imgs/mine.jpg);
    /* position: relative; */
    padding: 50px;
    /* DEBUG */
    height: 80%;
}



.contact-img img{
    max-width: 50px;
    border-radius: 50%;
}

.contact-info {
    width: 80%;
    padding-left: 10px;
}

.contact-info h4 {
    font-weight: 500;
}

.contact-info p {
    font-size: 14px;
    color: #a7a6a7;
}

.contact-img , .hour {
    flex-grow: 1;
}

.hour {
    color: #a7a6a7;
    font-size: 14px;
}


#user-img img {
    max-width: 50px;
    border-radius: 50%;
}

#user-bar h4 {
    font-weight: 500;
    margin-left: 20px;
}

.controls {
    color: #a7a6a7;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

#user-controls {
    margin-left: 74px;
}

.controls i {
    cursor: pointer;
}

.controls i:hover {
    color: #434242;
}

.chat-bar {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    /* DEBUG */
    height: 10%;
}

#chat-text {
    width: 75%;
    margin-left: 20px;
}

#chat-text h4 {
    font-weight: 500;
}

#chat-text p {
    font-size: 11px;
    color: #434242;
}

#chat-controls {
    width: 15%;
}

#chat ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.msg {
    width: 30%;
    height: 10%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    position: relative;
    cursor: pointer;
}

.sent {
    background-color: #d5f9ba;
    /* top: 30px;
    left: 70%; */
}

.received {
    background-color: #fff;
    /* top: 120px;
    left: 10%; */
}

#chat .sent {
    /* position: absolute; */
    /* right: 200px; */
    align-self: flex-end;
}

.msg-info {
    font-size: 10px;
    align-self: flex-end;
    position: absolute;
    bottom: 2px;
    right: 8px;
}