* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

#screen {
    height: 100vh;
    position: relative;
}

#top {
    height: 15vh;
    background-color: #009688;
}

#bot {
    height: calc(100% - 15vh);
    background-color: #d6dbd6;
}

#app {
    width: 80%;
    height: 95%;
    position: absolute;
    top: 20px;
    left: 150px;
    display: flex;
    /* DEBUG */
    /* background-color: blue; */
}

#left , #right {
    height: 100%;
}

#left {
    width: 350px;
    /* DEBUG */
    background-color: aqua;
}

#right {
    flex-grow: 1;
    /* DEBUG */
    /* background-color: brown; */
}

#user-bar {
    background-color: #eaeaea;
    display: flex;
    /* DEBUG */
    height: 10%;
    border-right: 1px dashed black;
}

#notifications-bar {
    background-color: #8edafc;
    /* DEBUG */
    height: 12%;
}

#search-bar {
    background-color: #fff;
    /* DEBUG */
    height: 7%;
    border-bottom: 1px dashed grey;
}

#nav-chats {
    background-color: #fff;
    /* DEBUG */
    height: calc(100% - 10% - 12% - 7%);
}

#chat {
    background-image: url(../imgs/mine.jpg);
    position: relative;
    /* DEBUG */
    height: 80%;
}

.msg {
    position: absolute;
    width: 20%;
    height: 10%;
    border-radius: 15px;
}

.sent {
    background-color: #d5f9ba;
    top: 30px;
    left: 70%;
}

.received {
    background-color: #fff;
    top: 120px;
    left: 10%;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    padding: 5px 10px;
}

.contact-img img{
    max-width: 50px;
    border-radius: 50%;
}

.contact-info {
    width: 80%;
    padding-left: 10px;
}

.contact-info h4 {
    font-weight: 500;
}

.contact-info p {
    font-size: 14px;
    color: #d6d7d9;
}

.contact-img , .hour {
    flex-grow: 1;
}

.hour {
    color: #d6d7d9;
    font-size: 14px;
}